bower_components/
EffectLauncher.Client/public/
EffectLauncher.Client/test/coverage/
EffectLauncher.ServerApi/bin
node_modules/
packages/*/**
EffectLauncher.v12.suo
EffectLauncher.suo
EffectLauncher.ServerApi/obj/
EffectLauncher.Tests/obj/
EffectLauncher.Tests/bin/
EffectLauncher.Client/obj/
EffectLauncher.Client/bin/
*.DotSettings.user
.eventstorage/
*.orig
NugetPackages/
/*.sublime-workspace
EffectLauncher.Migrator/bin
EffectLauncher.Migrator/obj
*.user
d60.EsKit/bin
d60.EsKit/obj
d60.EsKit/bin/
d60.EsKit/obj/
d60.EsKit.MongoDB/bin
d60.EsKit.MongoDB/obj
d60.EsKit.MongoDB/bin/
d60.EsKit.MongoDB/obj/
d60.EsKit.Tests/bin
d60.EsKit.Tests/obj
d60.EsKit.Tests/bin/
d60.EsKit.Tests/obj/
d60.EventSorcerer/bin
d60.EventSorcerer/obj
d60.EventSorcerer.Tests/bin
d60.EventSorcerer.Tests/obj
d60.EventSorcerer.MongoDb/bin
d60.EventSorcerer.MongoDb/obj
